


/* modal */
.productInfo{
    margin-top: 36px;
    width: 100%;
}

.modalProductEdit{
    width: 61px;
}


.modalLocationList{
    width: 100%;
}

#modalReceivingList td{
    vertical-align: middle !important;
}