<form action="./addC" method="POST">
    categoryId
    <input type="text" name="categoryId">
    productID
    <input type="text" name="productId">
    <br><br>
    <input type="submit" value="Submit">
  </form> 