<form action="/oAuth/Login" method="POST">
  First name:<br>
  <input name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<%=
  console.log(myData);
%>