<form action="./signup" method="POST">
    First name:
    <br>
    <input type="text" name="username" value="Mickey">
    <br> email
    <br>
    <input type="text" name="email">
    <br>User password:
    <br>
    <input type="password" name="password">
    <p>
        <input type="submit" value="Submit">
    </p>
    
</form>