<form action="./signup" method="POST">
    First name:
    <br>
    <input type="text" name="username" value="Mickey">
    <br> User password:
    <br>
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>