<!DOCTYPE html>
<html>
<title>imarya.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Montserrat", sans-serif;
    }

    .container{
        background-color: #efefef;
    }
    .divMiddle{
        width: 95%;
        max-width: 500px;
    }
    .cardStyle{
        margin: 10px;
        padding: 8px;
        
    }
</style>

<body>

    <div class="w3-display-container container" style="height:100vh;">
        <div class="w3-display-middle divMiddle">
            <div class="w3-card-4 cardStyle">
                <form class="w3-container">

                    <label class="w3-text-blue"><b>Full Name</b></label>
                    <input class="w3-input w3-border" type="text" name="displayName">
                     
                    <label class="w3-text-blue"><b>Street address</b></label>
                    <input class="w3-input w3-border" type="text" name="streetAndNumber" placeholder="Street and number, P.O.box, c/o.">
                    <input class="w3-input w3-border" type="text" name="apartmentNumber"  placeholder="Apartment, suite, unit, building, floor, etc.">

                    <label class="w3-text-blue"><b>City</b></label>
                    <input class="w3-input w3-border" type="text" name="city">

                    <label class="w3-text-blue"><b>Province/Territory</b></label>
                    <input class="w3-input w3-border" type="text" name="province">

                    <label class="w3-text-blue"><b>Postal Code</b></label>
                    <input class="w3-input w3-border" type="text" name="postalCode">
                    
                    <label class="w3-text-blue"><b>Phone number</b></label>
                    <input class="w3-input w3-border" type="number" name="phone">
                    
                    <br>
                    <button class="w3-btn w3-blue">Save changes</button>
                     
                    </form>
              </div>
        </div>
    </div>
</body>

</html>