<!-- <form action="fileupload" method="post" enctype="multipart/form-data">');
    res.write('<input type="file" name="filetoupload"><br>');
    res.write('<input type="submit">');
    res.write('</form>') -->

<form action="/api/imgUpload" method="POST" enctype="multipart/form-data">
    <input name="myImage" type="file">
    <input type="submit">
</form>