<!DOCTYPE html>
<html>
<title>imarya</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/style/productsManagement.css">
<link rel="icon" href="/icon/linkLogo.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- data table -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>


<head>
    <script>
        $(document).ready(function () {
            var table = $('#products').DataTable({
                "ajax": "/api/allProducts",
                "columns": [{
                        "data": "_id"
                    },
                    {
                        "data": "productName"
                    },
                    {
                        "data": "description"
                    },
                    {
                        "data": "by"
                    },
                    {
                        "data": "img"
                    },
                    {
                        "data": "price"
                    },
                    {
                        "data": "createDay"
                    }
                ],
            });

            // click listener for table
            $('#products tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                document.getElementById('productDetails').style.display = 'block';
                document.getElementById('modalProductName').innerHTML = data.productName;
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/api/showProductQty',
                    data: {
                        productId: data._id
                    },
                    success: function (doc) {

                        // display location and Qty in modal
                        $('#productQtyDiv').empty();
                        var table = $('<table></table>').addClass('w3-table');
                        table.append('<tr><th>Location</th><th>Quantity</th></tr>')
                        if (Object.keys(doc).length > 0) {
                            for (var key in doc) {
                                var tableR = $('<tr></tr>').addClass('w3-left-align');
                                tableR.append('<td>' + doc[key].locationId.location +
                                    '</td>');
                                tableR.append('<td>' + doc[key].qty +
                                '</td>');
                                tableR.appendTo(table);
                            }
                            table.appendTo('#productQtyDiv');
                        } else {
                            var noResult = $('<p></p>').text("0 result");
                            $(noResult).appendTo('#productQtyDiv');
                        }
                        var txt2 = $("<p></p>").text("Text.");

                    }
                });
            });
        });
    </script>

</head>

<body>
    <div class="tableContainer" style="width:90%; margin:auto;">
        <table id="products" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>productName</th>
                    <th>description</th>
                    <th>by</th>
                    <th>img</th>
                    <th>price</th>
                    <th>createDay</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>productName</th>
                    <th>description</th>
                    <th>by</th>
                    <th>img</th>
                    <th>price</th>
                    <th>createDay</th>
                </tr>
            </tfoot>


        </table>
    </div>

    <!-- Modals -->
    <div id="productDetails" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('productDetails').style.display='none'" class="w3-button w3-display-topright w3-xlarge">&times;</span>

                <div class="w3-cell-row productInfo">
                    <div class="w3-container w3-cell">
                        <h4 id="modalProductName">Hello W3.CSS Layout.</h4>
                    </div>
                    <div class="w3-container w3-cell w3-cell-middle modalProductEdit">
                        <button class="w3-btn">Edit</button>
                    </div>
                </div>

                <div class="w3-cell-row w3-margin-bottom" id="productQtyDiv">
                </div>





            </div>
        </div>
    </div>
</body>
<script>
</script>

</html>